$color:#0A325F;
$b-color:#F2F2F2;

body {
  color: #131313; 
  background-color: #FFF;
  font-family: "Noto Serif JP", serif;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
}

.container {
  height: 100%;
  margin: 0 auto;
  max-width: 1080px;
  width: 100%;
}

h2{
  font-size: 32px;
  font-weight: 700;
}

h3{
  font-size: 24px;
}

p{
  font-weight: 400;
  line-height: 1.5;
}

.section__title {
  text-align: center;
  position: relative;
}

.section__title h2{
  color: $color;
}

.section__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: $color;
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
}

time {
  font-weight: 400;
  font-size: 14px;
  color: #131313;
}

img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

/* ヘッダー */
.header {
  background-color: $color;
  height: 80px;
  padding: 0 5.88vw;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  box-shadow: 0 3px 10px;

  &__inner a{
    color: #FFF;
  }
}

.nav {
  height: 100%;
}

.header__inner,
.footer__inner {
  max-width: 1500px;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

.nav__lists {
  align-items: center;
  display: flex;
  gap: 3vw;
  height: 100%;
}

.nav__item a {
  font-size: 16px;
  font-weight: 900;
}

.sp__header__toggle {
  display: none;
  width: 35px;

  span{
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: relative;
    transition: ease .4s;
    display: block;
  }
  span:nth-child(1) {
    top: 0;
  }
  span:nth-child(2) {
    margin: 12px 0;
  }
  span:nth-child(3) {
    top: 0;
  }
}

  // クリック後
  .sp__header__toggle.is-active {
    transform: translateX(0);

    &.is-active span:nth-child(1){
      top: 13px;
      transform: rotate(45deg);
    }
    &.is-active span:nth-child(2){
      opacity: 0;
    }
    &.is-active span:nth-child(3){
      top: -13px;
      transform: rotate(-45deg);
    }
  }
  
.sp__header__modal {
  background-color: rgba(255, 255, 255, .9);
  display: none;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

.fv {
  align-items: center;
  background-image: url(../assets/img/FV.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 35.29vw;
  min-height: 480px;
  position: relative;
  width: 100%;
  margin-top: 80px; //header 80px分
}
.fv__title {
  display: inline-block;
  color: $color;
  font-size: clamp(3.5rem, 5.86vw, 5rem);
  background-color: rgba(255, 255, 255, .6);
  font-family: "Zen Old Mincho", serif;
  font-weight: 700;
  padding: 10px 20px;
  position: absolute;
  top: 40%;
  left: 21.40%;
}

.top__news{
  background-color: #E8E8E8;
  padding-top: 80px;
  padding-bottom: 80px;
}

.news__post-lists{
  max-width: 780px;
  width: 100%;
  margin: 50px auto 0;
}

.news__post-lists a{
  display: flex;
  align-items: center;
  gap: 30px;
  border-bottom: 1px solid $color;
  padding-bottom: 5px;
  margin-bottom: 45px;
}

.news__post-lists a:last-child{
  margin-bottom: 0;
}

.btn {
  width: 380px;
  text-align: center;
  margin: 50px auto 0;
  transition: .2s;
}

.btn a{
  display: block;
  width: 100%;
  height: 100%;
  font-size: 20px;
  padding-top: 27px;
  padding-bottom: 27px;
}

.more__btn{
  background-color: #fff;
  border: 1px solid $color;

  &:hover{
    background-color: $color;
    color: #FFF;
  }
}

.greeting{
  margin-top: 100px;
}

.top__greeting__contents{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5vw;
  margin-top: 50px;
}

.top__greeting__text-box{
  width:calc(570px/1080px *100%);
  background-color: #E8E8E8;
  padding: 30px 90px 30px 50px;
  
}

.top__greeting__text-box p{
  line-height: 1.5;
  margin-top: 15px;
  margin-bottom: 20px;
}

.top__greeting__img{
  width:calc(292px/1080px *100%);
  height: 331px;
}

.signature{
  text-align: right;
}

.top__service{
  margin-top: 100px;

  &__contents{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 50px;
  }

  &__content{
    display: flex;
    flex-direction: column;
    width: calc(326px /1080px *100%);
  }
  
  &__img{
    width: 100%;
    height: 187px;
  }

  &__text-box{
    flex-grow: 1;
   background-color: $color;
   color: #FFF;
   padding: 30px 35px;
  }

  &__text-box h3{
   font-size: 20px;
   font-weight: 700;
   margin-bottom: 15px;
  }
}

.access{
  margin-top: 150px;
  margin-bottom: 100px;

  &__contents{
    display: flex;
    justify-content: center;
    gap: 3.68vw;
    margin-top: 80px;
  }

  &__text-box h3{
    margin-bottom: 15px;
  }

  
  &__text-box dl{
    border-top: 1px solid $color;
    margin-bottom: 15px;
  }
  
  &__text-box dl:last-child{
    margin-bottom: 0;
  }

  &__text-box dt{
    padding-top: 10px;
  }

  &__text-box dd{
   padding-top: 5px;
  }

  &__img{
    max-width: 600px;
    width: 100%;
    height: auto;

    iframe{
      width: 100%;
    }
  }

}

.top__contact{
  background-color: $b-color;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 100px;

  &__content{
    text-align: center;
    margin-top: 50px;
  }

  &__email{
    display: inline-block; 
    background-color: $color;
    color: #fff;
    padding:30px 70px;
    margin-top: 30px;
  }
}


.footer{
  background-color: $color;
}

.copy{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.copy h1{
  color: #FFF;
  font-size: 14px;
}

//ページ共通

.page__title{
  margin-top:  130px;//header 80px分含む
  
  &__box{
    position: relative;
  }

  &__box::after{
    content: "";
    display: block;
    max-width: 1080px;
    width: 100%;
    height: 1px;
    background-color: $color;
    margin-top: 5px;
    position: absolute;
    top: 100%;
    left: 0;
    animation: scrollRight 2s ease-in-out;
  }

  &__box h2{
    color: $color;
  }

}

.child-section{
  & h3{
    color: $color;
    margin-bottom: 15px;
    padding-left: 20px;
    position: relative;
  }

  h3::before{
    content: "";
    display: block;
    width: 8px;
    height: 100%; 
    background-color: $color;
    position: absolute;
    top: 0;
    left: 0;
  }

}

@keyframes scrollRight{
  0%{
      transform-origin: left;
      transform: scaleX(0);
  }
  100%{
      transform-origin: left;
      transform: scaleX(1);
  }
}

.breadcrumb{
  margin-top: 20px;

  a{
    font-size: 14px;
  }
}

//service

.service{
  padding-top: 80px;
  padding-bottom: 150px;

  &__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 125px;
  }

  &__box:nth-child(2n){
    flex-direction: row-reverse;
  }

  &__box:last-child{
    margin-bottom: 0;
  }

  &__box__text-box{
    width: calc(700px / 1080px *100%);
  }

  &__box__text-box p{
    line-height: 1.75;
    margin-bottom: 15px;
  }

  &__box__text-box p:last-child{
    margin-bottom: 0;
  }


  &__box__img{
    width: calc(343px / 1080px *100%);
  }
}


//news-archive
.news-archive,
.column-archive{
  padding-top: 80px;
  padding-bottom: 150px;
  position: relative;

  &::after{
    content: "";
    display: block;
    width: 40%;
    height: 90%;
    background-color: $b-color;
    position: absolute;
    top: 10%;
    right: 0;
    z-index: -1;
  }
}

.news__post-lists .news-archive__post-item,
.column__post-lists .column-archive__post-item{
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.post__info{
  display: flex;
  gap: 10px;
}

.post__category{
  display: inline-block;
  color: #FFF;
  background-color: $color;
  font-size: 12px;
  padding:3px 7px;
}

.pagination{
  display: flex;
  gap:20px;
  justify-content: center;
  align-items: center;
  margin-top: 70px;

  &__pager{
    padding: 8px 12px;
    color: $color;
    background-color: #fff;
    border: 1px solid $color;
    transition: .2s;
  }

  &__pager:hover{
    color: #fff;
    background-color: $color;
  }

  &__current{
    color: #fff;
    background-color: $color;
  }
}

//news-detail
.news-detail{
  margin-top: 75px;
  margin-bottom: 150px;
}

.news-detail__content{
   h2{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__heading{
    margin-top: 30px;
  }

  &__heading p{
    margin-top: 15px;
  }
}

.news__detail__eyecatch-img{
  max-width: 800px;
  height: auto;
  margin: 0 auto;
}

.back__btn{
  background-color: #fff;
  border: 1px solid $color;

  &:hover{
    background-color: $color;
    color: #FFF;
  }
}


//column-archive
.column__post-lists{
  max-width: 780px;
  margin: 50px auto 0;
}

.column__post-lists a{
  display: flex;
  align-items: center;
  gap: 30px;
  border-bottom: 1px solid $color;
  padding-bottom: 5px;
  margin-bottom: 45px;
}

.column__post-lists a:last-child{
  margin-bottom: 0;
}

//column-detail
.column-detail{
  margin-top: 75px;
  margin-bottom: 150px;
}

.column-detail__content{
   h2{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__heading{
    margin-top: 30px;
  }

  &__heading p{
    margin-top: 15px;
  }
}

.column__detail__eyecatch-img{
  max-width: 800px;
  height: auto;
  margin: 0 auto;
}

.column-detail__category{
  margin-top: 100px;

  h3{
    margin-bottom: 50px;
  }

  &__lists{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    justify-content: center;
    margin-bottom: 75px;
  }
  
  &__item{
    width: 200px;
  }
  
  &__item a{
    display: block;
    color: $color;
    padding: 10px 20px 10px 30px;
    transition: .2s;
    background-color: $b-color;
    border: 1px solid $color;
    position: relative;
  }

  
  &__item a:hover{
    background-color: $color;
    color: #fff;
  }

  &__item a::after{
    content: "";
    display: block;
    width: 25px;
    height: 6px;
    border-right: 2px solid $color;
    border-bottom: 1px solid $color;
    transform: skew(45deg);
    position: absolute;
    top: 40%;
    left: 70%;
    transition: .3s;
  }

  
  &__item a:hover::after{
    border-right: 2px solid #fff;
    border-bottom: 1px solid #fff;
    left: 80%;
  }

}

.column-detail__recommend{

  h3{
    margin-bottom: 50px;
  }
}

.column-detail__recommend-posts{
  display: flex;
  gap: 30px;
  
}

.column-detail__recommend-post{
  width: 33%;
  cursor: pointer;
}

.recommend-post__eyecatch-img{
  margin-bottom: 20px;
}



//lawyer

.lawyer{
  margin-top: 80px;
  margin-bottom: 150px;

  &__img{
    width: 100%;
    height: 560px;
    position: relative;
  }

  &__signature{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: rgba(255, 255, 255, .8);
    padding: 15px 25px;
    position: absolute;
    top:78%;
    right: 7.5%;
  }

  &__introduce,
  &__career{
    margin-top: 75px;

    
    h2{
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  &__career__lists{
    max-width: 900px;
    margin: 50px auto 0;

    dl{
      display: flex;
      background-color: $b-color;
      padding: 15px 0;
      border-bottom: 1px solid #fff;
    }

    dt{
      width: calc(220px / 900px *100%);
      border-right: 1px solid $color;
      padding: 5px 30px;
    }
    
    dd{
      width: calc(680px / 900px *100%);
      padding: 5px 30px;
    }
  }
}

//office

.office{
  margin-top: 75px;
  margin-bottom: 150px;

  &__img{
    width: 100%;
    height: 560px;
  }

  &__introduce{
    margin-top: 25px;
    margin-bottom: 50px;
  }
}

.office__access{
  max-width:800px;
  margin: 0 auto;

  
  &__text-box{
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
  }
}

.access__text-box__item dt{
  font-size: 20px;
  border-top: 2px solid $color;
  padding-top: 3px;
  margin-bottom: 8px;
}

//tablet
@media screen and (max-width:1080px){

  //共通

  h2{
    font-size: 28px;
  }
  
  h3{
    font-size: 20px;
  }

  .btn a{
    font-size: 18px;
  }

  //TOP

  .news__post-lists{
    max-width: 560px;
  }

  .top__service{
  
    &__contents{
      gap: 3.68vw;
    }

    &__content{
      width: 45%;
    }

  }

  .access{
     
    &__img{
     width: 50%;
    }
  }

  .copy h1{
    font-size: 12px;
  }
  
}

//ページ共通

//service

//sp

@media screen and (max-width:768px){

  .header{
    height: 60px;
  }

  .container{
    max-width: 700px;
    padding: 0 20px;
  }

  h2{
    font-size: 26px;
  }
  
  h3{
    font-size: 18px;
  }

  .btn{
    width: 200px;   
  }

  .btn a{
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  .time{
    font-size: 12px;
  }

  .header__nav{
    display: none;
  }

  .sp__header__toggle{
    display: block;
    
  }

  //sp-top
  .fv{
    margin-top: 60px;
  }

  .top__news{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .greeting{
    margin-top: 75px;
  }

  .top__greeting__contents{
    flex-direction: column-reverse;
  }
  
  .top__greeting__text-box{
    width:100%;
    padding: 20px;
    
  }

  .top__greeting__img{
    width:100%;
  }

  .top__service{
    margin-top: 75px;
    
    &__content{
      width: 100%;
      position: relative;
    }

    &__text-box{
      width: 100%;
      height: 100%;
      background-color: rgba(10, 50, 95, .8);
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .access{
    margin-top: 75px;

    &__contents{
      width: 90%;
      flex-direction: column-reverse;
      margin: 40px auto 0;
    }

    &__img{
      width: 100%;
    }

    &__text-box h3{
      text-align: center;
    }

    &__text-box dl{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding:10px;
      margin-bottom: 0;
    }

    &__text-box dt{
      padding-top: 0;
    }

    &__text-box dd{
      width: calc(258px/368px*100%);
      padding-top: 0;
    }
  }

  .top__contact{
    margin-bottom: 50px;
  
    &__content{
      margin-top: 35px;
    }
  
    &__email{
      padding:20px 50px;
      margin-top: 18px;
    }
  }
  

   //sp-service
}
